{{> head }}


{{> navbar }}
{{!-- {{dates.0.20.13}} --}}
<div class="ml-5 custom-margin">
    <form action="/tablas" method="POST">
        <div class="form-group">
            <label for="playerNameInput"><b>Nickname del jugador</b></label>
            <div class="row">
                <div class="col-sm-8">
                    <select name="nickname" class="custom-select" id="playerNameInput" onchange="this.form.submit()">
                        {{#each players}}
                        <option value="{{this.nickname}}"
                            {{#if_eq this.nickname ../playerToHunt.nickname}}selected{{/if_eq}}>
                            {{this.nickname}}
                        </option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <div class="custom-control custom-checkbox mr-sm-2">
                        <input onchange="this.form.submit()" name="showDetails" type="checkbox"
                            class="custom-control-input" id="customControlAutosizing" {{#if showDetails}}checked{{/if}}>
                        <label class="custom-control-label" for="customControlAutosizing">Ver Tablas
                            detalladas</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <h3>Resumen de actividades de: <i>{{playerToHunt.nickname}}</i></h3>
    {{#each playerToHunt.[planets].[0].[dates] as |date k|}}
    <b>Fecha: {{getDateByDay k}}</b>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Coordenada</th>
                <th scope="col">Tipo</th>
                {{#each ../times}}
                <th scope="col">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each ../playerToHunt.[planets] as |player i|}}
            <tr class="{{#if_eq player.planetType 'moon'}}moon{{/if_eq}}">
                <th scope="row">{{index i}}</th>
                <td class="font-weight-bold">{{player.name}}</td>
                <td class="font-weight-bold">[{{player.coords}}]</td>
                <td class="font-weight-bold">{{#if_eq player.planetType 'moon'}}Luna{{else}}{{#if_eq i '0'}}Planeta
                    Principal{{else}}Planeta{{/if_eq}}{{/if_eq}}</td>
                {{#each (getHours player.dates k)}}
                {{!-- <td>Key: {{@key}} Value = {{this}}</td> --}}
                {{!-- <td>{{#each this}} <p> <span class="onState">{{formatIso this.date}}{{this.lastActivity}}</span> </p>
                    {{/each}}</td> --}}
                <td>{{#each this}} <p> <span
                            class="ogameActivity {{#if_eq this.lastActivity 'on'}}onState{{else}}{{#if_eq this.lastActivity 'off'}}offState{{else}}minuteState{{/if_eq}}{{/if_eq}}">
                            {{#if ../../../../showDetails}}{{formatIso this.date}}&nbsp;{{/if}}{{this.lastActivity}}</span>
                    </p>
                    {{/each}}</td>
                {{/each}}
                {{!-- {{getDates ../dates i}} --}}
                {{!-- {{#each ../dates.[i].[20].[21]}}
                <td>gaea</td>
                {{/each}} --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
    {{/each}}
</div>
{{> footer}}