{{> head }}


{{> navbar }}
{{dates.0.20.13}}
<div class="ml-5 mt-5">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Planeta</th>
                <th scope="col">Coordenada</th>
                {{#each times}}
                <th scope="col">{{this}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            {{#each playersToHunt.[planets]}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{name}}</td>
                <td>{{coords}}</td>
                {{!-- {{#each ../dates.[@index].[20].[13]}}
                <td>gaea</td>
                {{/each}} --}}
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>