{{> head }}

{{> navbar }}
{{> modalHunter }}
<div class="container mt-3 mb-3">
  <h2>Listado de hunteados</h2>

  <div class="card">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Jugador</th>
          <th scope="col">Hunteando?</th>
          <th scope="col">Opciones</th>
        </tr>
      </thead>
      <tbody>
        {{#each playersToHunt as |playerTohunt i|}}
        <tr>
          <th scope="row">{{multiply (index i) ../page}}</th>
          <td>{{ nickname }}</td>
          <td>
            <form action="/universo" method="POST">
              <div class="custom-control custom-checkbox mr-sm-2">
                {{#if hunt}}
                <input
                  name="hunt"
                  type="checkbox"
                  class="custom-control-input"
                  id="customControlAutosizing{{ i }}"
                  checked
                />
                <label
                  class="custom-control-label"
                  for="customControlAutosizing{{ i }}"
                  >Sí</label
                >
                {{else}}
                <input
                  name="hunt"
                  type="checkbox"
                  class="custom-control-input"
                  id="customControlAutosizing{{ i }}"
                />
                <label
                  class="custom-control-label"
                  for="customControlAutosizing{{ i }}"
                  >No</label
                >
                {{/if}}
              </div>
            </form>
          </td>
          <td>
            <button
              onclick="editPlayer(this)"
              id="editPlayer"
              type="button"
              playerId="{{ _id }}"
              class="btn btn-primary"
              data-toggle="modal"
              data-target="#exampleModal"
            >
              Editar
            </button>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{ totalPlayersToHunt }}
    <nav aria-label="Page navigation example mr-3">
      <ul class="pagination justify-content-end">
        <li class="page-item"><a class="page-link" href="#">Atrás</a></li>
        {{#for 1 totalPages 1}}
        <li class="page-item">
          <a
            class="page-link"
            href="/hunter?page={{this}}&&perPage=5"
            >{{this}}</a
          >
        </li>
        {{/for}}
        <li class="page-item"><a class="page-link" href="#">Adelante</a></li>
      </ul>
    </nav>
  </div>

  <form action="/api/players" method="POST">
    <div class="container">
      <div class="row d-flex align-content-center">
        <div class="col-10">
          <div class=" form-group">
            <label for="exampleInputEmail1"
              >Nombre del jugador a Controlar</label
            >
            <input
              name="nickname"
              type="text"
              class="form-control"
              id="exampleInputEmail1"
              placeholder="ESCRIBE SU NICK"
            />
          </div>
        </div>

        <div class="col-2">
          <button type="submit" class="btn btn-primary">Agregar Jugador</button>
        </div>
      </div>
    </div>
  </form>
  <h3>Agregar planeta/Luna</h3>
  <form action="/api/players/planet" method="POST">
    <div class="form-group">
      <label for="playerNameInput">Nombre del jugador</label>
      <select name="nickname" class="custom-select" id="playerNameInput">
        {{#each allPlayersToHunt}}
        <option value="{{ nickname }}">{{ nickname }}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      <label for="inputID">ID</label>
      <input
        name="id"
        placeholder="ID del planeta/luna"
        type="text"
        class="form-control"
        id="inputID"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="inputName">Nombre</label>
      <input
        name="name"
        placeholder="Nombre del planeta/luna"
        type="text"
        class="form-control"
        id="inputName"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="inputCoords">Coordenadas</label>
      <input
        name="coords"
        placeholder="Coordenadas planeta/luna"
        type="text"
        class="form-control"
        id="inputCoords"
        aria-describedby="emailHelp"
      />
    </div>
    <div class="form-group">
      <label for="inputType">Tipo</label>
      <select name="planetType" class="form-control" id="inputType">
        <option value="planet">Planeta</option>
        <option value="moon">Luna</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>
</div>

{{> footer}}
<script>
  //   document.addEventListener(
  //     "click",
  //     event => {
  //       if (!event.target.matches("#editPlayer")) return;
  //       event.preventDefault();
  //       console.log(event.target.getAttribute("playerid"));
  //     },
  //     false
  //   );
  //   let editPlayerButtons = document.querySelectorAll("#editPlayer");
  //   editPlayerButtons.forEach(button => {
  //     button.addEventListener("click", e => {
  //       console.log("elemento: ", e.target);
  //     });
  //   });
  function editPlayer(e) {
    let playerId = e.getAttribute("playerId");
    fetch("/api/players/" + playerId)
      .then(function(response) {
        return response.json();
      })
      .then(function(myJson) {
        console.log(myJson);
      });
  }
</script>
